* {
    margin: 0;
    padding: 0;
}

.navbar-myname {
    font-size: 30px;
    font-family: "acumin-pro",sans-serif;
    border: 20px;
    color:#C594E1;
    padding: 10px;
}

.nav-item {
    background-color: ;
    font-size: 20px;
}


.navigationbar {
    margin: 0px;
    padding: 0px;
    
}

h1 {
    padding: 20px;
    color: palevioletred;
    background-color:
}

ul {
    background-color:
}

p {
    font-family: monospace;
}

.media {
    padding: 20px;
}

img {
    max-width:25%;
    height: auto;
}

#logo {
    text-align: center;
}
.card-group {
    padding:20px;
}

form {
    padding: 20px;
}
a {
    padding:20px;
}

.myemail {
    padding:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    padding:20px;
}